html,body {
  margin: 0;
  padding: 0;
  height : 100%;
  width : 100%;
  font-family: Georgia, "Times New Roman", Times, serif;;
  background-color: navy;
}


.signUp {
  display : flex;
  justify-content : center;
  margin-top : 15px;
}


form {
  height : 90%;
  width : 20%;
  background-color: white;
  display : flex;
  flex-direction: column;
  gap : 20px;
}


input {
  border-radius : 20px;
  height : 35px;
  width : 200px;;
  padding-left:15px;
  border-style: none;
  background-color: lightgray;
}

label {
  font-weight:bolder;
}


h1{
  margin-left : 30px;
}


input[type="submit"] {
  display : flex;
  align-items : center;
  justify-content: center;
  width : 80px;
  margin-top : 5px;
  padding-left:5px;
  margin-bottom:0px;
}


input[type="Date"] {
    padding-right : 3px;
}

input[type="radio"] {
  width: 15px;
  height: 15px;
}


.gender {
  
}


h6 {
  margin-top : 0px;
  
}








